@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body, html{
    height: 95.5%;
    font-family: 'Inter', sans-serif !important;
}
.container {
    height: 90%;
}

nav {
    background-color: #D9D9D9;
    justify-content: end;
    display: flex;
    height: 70px;
}
nav h2 {
    margin: auto;
}

 input{
    background-color: #D9D9D9;
    border-radius: 10px;
    border: 0;
    width: 280px;
    margin-left: 20px !important;
}

button{
    width: 150px;
    background-color: #3a1313;
    color: white;
    border-radius: 20px !important;
    border: none;
    height: 30px;
}

.row {
    margin-top: 50px !important;
}

#contenedorBuscar {
    text-align: center;
}

#contenedorBuscar button{
    margin-top: 50px;
}


#atras{
    position: relative;
    top: 250px;
}