@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body, html {
    height: 100%;
    width: 99.6%;
    font-family: 'Inter', sans-serif !important;
}

nav {
    background-color: #D9D9D9;
    justify-content: space-between;
    display: flex;
    height: 70px;
}
nav h2{
    margin: auto;
}

#filaPrincipal{
    margin-top: 100px;
}

.col-4{
    margin: 23px 0 !important;
}
.col-4 input{
    background-color: #D9D9D9;
    border-radius: 10px;
    border: 0;
    width: 200px;
}

.col-2 button{
    width: 150px;
    height: 40px;
    background-color: #3A1313;
    color: white;
    font-size: large;
    border-radius: 30px;
}

.col-6 button {
    margin-top: 10px;
    width: 330px;
    height: 40px;
    background-color: #3A1313;
    color: white;
    font-size: large;
    border-radius: 30px;
}


.espacio{
    margin: 100px;
}

#button {
    justify-content: center;
    display: flex;
}


#sexo {
    background-color: #D9D9D9;
    border-radius: 10px;
    border: 0;
    width: 200px;
    color:black;
}

@media only screen and (max-width: 1400px) {
    #filaPrincipal{
        margin-top: 20px;
    }

  }
