@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');



body, html {
    height: 95.5%;
    font-family: 'Inter', sans-serif;
}

nav {
    background-color: #D9D9D9;
    justify-content: end;
    display: flex;
}

#contenedor {
    background-color: #e1f3f7;
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: center;
}

#formulario p {
    margin-bottom: 0;
    text-align: left;
}

#formulario input {
    border-radius: 5px;
    border: 0;
    width: 300px;
    height: 30px;
    background-color: #F5F5F5;
}

#formulario button {
    margin: 15px 0px;
    background-color: #3A1313;
    color: white;
    padding: 8px 25px;
    border-radius: 10px;
    border: 0;
}


h2 {
    margin: 0;
}

nav {
    height: 50px;
}