@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body, html {
    height: 95.5%;
    font-family: 'Inter', sans-serif !important;
    width: 100%;
}

nav {
    background-color: #D9D9D9;
    justify-content: end;
    display: flex;
}
#contenedor {
    background-color: #e1f3f7;
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: center;
}


#menu {
    text-align: center;
}

ol {
    list-style: none;
}

li {
    margin: 50px 0;
}

li a {
    text-decoration: none;
    font-weight: 700;
    font-size: medium;
    background-color: #3A1313;
    color: white;
    padding: 12px;
    border-radius: 20px;
}



