<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto Emergencia</title>
  <link rel="stylesheet" href="../static/css/consultarContactosEmergenciaTrabajador.css">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">


</head>

<body>
  <nav>
    <h2>Mis Contactos de Emergencia</h2>
    <p><img src="../img/CORREOS Express.png" height="70px"></p>
  </nav>

  <div class="row h-auto w-50"></div>

  <div id="contenedorTabla">
    <table class="table table-bordered table-light">
      <thead>
        <tr>
          <th scope="col">rut</th>
          <th scope="col">Nombres</th>
          <th scope="col">Relacion</th>
          <th scope="col">Telefono</th>
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody id="cuerpoTabla">
      </tbody>
    </table>
  </div>

  <div class="row h-25 w-50"></div>


  <div class="row">
    <div class="col-3"></div>
    <div class="col-4">
      <button onclick="window.history.back()">
        Atras
      </button>
    </div>
    <div class="col-4 bt-ingresar">
      <button onclick="location.href = '../templates/ingresarContactoEmergencia.html'">
        Ingresar Contacto Emergencia
      </button>
    </div>
  </div>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
    <script src="../static/js/modificarContactoEmergenciaTrabajador.js.js"></script>
</body>

</html>